DOMAIN=forum.alfabe.co
SSL_EMAIL=admin@alfabe.co

DB_NAME=alfabe_forum
DB_USER=alfabe_user
DB_ROOT_PASSWORD=
DB_PASSWORD=

WP_ADMIN_USER=admin
WP_ADMIN_EMAIL=admin@alfabe.co
WP_ADMIN_PASSWORD=
WP_SITE_TITLE=Alfabe Forum
WP_LOCALE=tr_TR
